<div class="centered-content">
  <div class="modal-box has-background-black">
    <h1 class="title has-text-primary">
      Criar nova tarefa
    </h1>

    <input #taskTitleInput class="input has-text-white has-background-light is-medium" type="text" placeholder="Digite o nome da tarefa...">
    <br><br>
    <div class="buttons is-right">
      <button class="button is-light has-text-danger is-medium" routerLink="/">Cancelar</button>
      <button class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">Criar</button>
    </div>

    
  </div>
</div>